name: flutter_libserialport
description: A simple wrapper around libserialport utilizing Flutter's
  build system to build and deploy the C-library for the target platform.
version: 0.3.0-dev.0+1
homepage: https://github.com/jpnurmi/flutter_libserialport
repository: https://github.com/jpnurmi/flutter_libserialport
issue_tracker: https://github.com/jpnurmi/flutter_libserialport/issues

environment:
  sdk: ">=2.17.0-266.5.beta <=3.0.0"
  flutter: ">=2.5.0"

dependencies:
  dylib: ^0.3.2+1
  ffi: ^1.2.0-dev.0
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  usb_serial: ^0.4.0
  windows1251: ^0.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  ffigen: ^5.0.0-dev.1

flutter:
  plugin:
    platforms:
      android:
        pluginClass: FlutterLibserialportPlugin
        package: org.sigrok.flutter_libserialport    
      linux:
        pluginClass: FlutterLibserialportPlugin    
      macos:
        pluginClass: FlutterLibserialportPlugin
      windows:
        pluginClass: FlutterLibserialportPluginCApi
      ios:
        pluginClass: FlutterLibserialportPlugin
